@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: url("../../public/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.teams-section {
  background: white;
}

.header {
  border-radius: 25px 25px 25px 25px;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #000000;
  box-shadow: 0px 5px 0px 1px #000000;
}

.team {
  border-radius: 25px 25px 25px 25px;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #000000;
  box-shadow: 0px 5px 0px 1px #000000;
}

.team-label {
  border-radius: 25px 25px 25px 25px;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #000000;
  box-shadow: 0px 5px 0px 1px #000000;
}

.admin-section {
  border-radius: 25px 25px 25px 25px;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #000000;
  box-shadow: 0px 5px 0px 1px #000000;
}